<div class="col md4 text-center">
  <h1>Gravity Simulator</h1>
</div>
<div class="d-flex bg-light" >
  <div class="col md4 text-left" ngDraggable lockAxis='y' outofBounds='{left:true; right:true;}'>
    <mat-slider (input)="onMass1Change($event)" #mass1 thumbLabel [displayWith]="formatLabel1" tickInterval="1000" min="1" max="100000"></mat-slider>
    <img src="../assets/sphere.png">
  </div>
  <div class="col md4 text-right" ngDraggable lockAxis='y'>
    <img src="../assets/sphere.png">
    <mat-slider (input)="onMass2Change($event)" #mass2 thumbLabel [displayWith]="formatLabel2" tickInterval="1000" min="1" max="100000"></mat-slider>
  </div>
</div>
<div class="container" ngDraggable lockAxis='y'>
  <img class="img-fluid col-12 row-2" src="../assets/ruler.png">
</div>
<br>
<mat-card>
  <mat-card-title>Details</mat-card-title>
  <mat-card-content>
    <h6>Mass1: {{mass1.value}}</h6>
    <h6>Mass2: {{mass2.value}} </h6>
    <form (ngSubmit)="onSubmit()" novalidate>
      <input type="number" class="form-control" placeholder="Radius" [(ngModel)]='radius' [ngModelOptions]="{standalone: true}">
      <button type="submit" class="btn btn-secondary">Calculate</button>
   </form>
    <br>
    
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-title>Results</mat-card-title>
  <h6>Force of gravity:{{this.fG}} </h6>
</mat-card>

<canvas id="myChart" width="400" height="400"></canvas>



